.img-adv{
	width: 100%;
	border-radius: 10px;
}
.img-adv:hover{
	transform: scale(1);
	transition: 0.4s;
	-webkit-filter: brightness(0.80);
	box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2), 0 5px 10px 0 rgba(0, 0, 0, 0.24);
	
}
.image-container{
	overflow:hidden;
}

.image-container:hover  {
	-webkit-transform:scale(1);
	transform:scale(1);
}


.facilities{
	width: 80%;
	margin: auto;
	text-align: center;
	padding-top: 100px;
}

.vision-content{
	display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.vision-1{
	flex-basis: 31%;
	background-color: #F8F8F8;
	border-radius: 10px;
	margin: 10px auto;
	padding: 20px;
	box-sizing: border-box;
	width: 85%;
}
.vision-1:hover{
	transform: scale(1);
	transition: 0.4s;
	box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2), 0 5px 10px 0 rgba(0, 0, 0, 0.24);
}

.values-content{
	display: flex;
	justify-content: flex-end;
}

.facilities h1{
	font-size: 36px;
	font-weight: 600;
}

.facilities p{
	padding: 0px;
	color: rgb(37, 28, 28);
	font-size: 16px;
	font-weight: 300;
	line-height: 22px;
}
.facilities-col h3{
	text-align: left;
	font-weight: 400;
}
.facilities-col{
	flex-basis: 31%;
	border-radius: 10px;
	margin-bottom: 5%;
	text-align: left;
}

@media (max-width: 700px) {
	.vision-content {
		margin-bottom: 30px;
	}
}
